%h2#title Blog &amp; Page
#action-links
  %ul
    %li#create-page= link_to t(:new_page), new_page_path
    %li#create-blog= link_to t(:new_blog), new_blog_path
    %li#create-article= link_to t(:new_posts), new_article_path
#pages
  %h4 
  =t :page
  %p.description
    =t :page_description
    %br
    =t :for_example
    %em 
    =t :about_us_terms_of_service 
    =t :etc
  %table.standard-table(cellspacing="0" cellpadding="0" style="margin-bottom: 40px")
    %thead
      %tr
        %th(scope="col") 
          =t :title
        %th(scope="col" style="width: 150px;") 
          =t :update
        %th(scope="col" style="width: 50px") &nbsp;
    %tbody= render pages
  / PAGINATION LINKS
  #btm-nav.act-screen
    #pagination


= render partial:"admin/blogs/index"
= render partial:"admin/comments/index"

:javascript
  task_name = 'add_content';
