%h2#title Template Editor
#action-links
  %ul
    %li.settings= link_to "Theme Settings", settings_theme_path(shop.theme)
=render "shared/noscript"
=render "shared/upgrade_ie"
-#
  .clearfix(style="margin: 20px 0 30px")
    .col-6
      .box2
        .fl.st(style="margin-right: 15px")
          %a(href="#")=image_tag 'admin/icons/arrow-up-large.gif'

        %h3 Import
        %p.note Use your own theme or customize an existing theme.
        %a(href="#") Upload a theme
        #upload-theme(style="display:none;")
          %p.sst
            Theme upload will be applied to your store. If you have previously modified template files, they
            = succeed "." do
              %strong Will be overwritten
          %form(action="/admin/themes/upload" enctype="multipart/form-data" method="post")
            %dl
              %dd
                %input(name="theme[upload]" size="25" type="file" value="")
            .group-actions
              %input#commit.btn(name="commit" onclick="return confirm('Are you sure you want to overwrite the current themes and modifications made ​​before?');" type="submit" value="Upload &amp; Apply Theme")/
              Or
              %a(href="#") Cancel
    .col-6.last
      .box2
        .fl.st(style="margin-right: 15px")
          %a(href="/admin/themes/current.zip")=image_tag 'admin/icons/arrow-down-large.gif'

        %h3 Export
        %p.note Export your current theme is a zip file for offline editing.
        %a(href="/admin/themes/current.zip") Download your theme
-if shop.theme == theme
  #theme-edit-announcement.announcement.box2.c
    %p Changes you make will directly take effect theme. Shops visitors will immediately see the contents of the modified.

#theme-editor.container
  #theme-editor-sidebar.col-3
    #theme-editor-sidebar-top
      .section.cl

        %h3.section-header Layout
        .section-content
          %ul#theme-layout.nobull.clearfix
        #new_layout_reveal_link.new-asset-link.note
          %a(href="#") New Layout
        #new-layout.cl.section-new(style="display:none")
          %p
            With
            %select#new-layout-selectbox.st(name="asset[basename_without_ext]")
            Modeled
            %br/
            %strong Add a layout
            %span#new-layout-called
              And named
              %input#new_layout_basename_without_ext.st(name="asset[basename_without_ext]" type="text")
          %input#new_layout_btn.sst(type="button" value="New Layout")
          Or
          %a(href="#") Cancel
      .section.cl
        %h3.section-header Template
        .section-content
          %ul#theme-templates.nobull.clearfix
        #new_template_reveal_link.new-asset-link.note
          %a(href="#") New Templates
        #new-template.cl.section-new(style="display:none")
          %p
            %strong Add a template
            For
            %select#new-template-selectbox.st(name="asset[basename_without_ext]")
              %option(value="customers/account") customers/account
              %option(value="customers/addresses") customers/addresses
              %option(value="customers/login") customers/login
              %option(value="customers/order") customers/order
              %option(value="customers/password") customers/password
            %span#new-template-called

          %input#new_template_btn.sst(type="button" value="New Templates")
          Or
          %a(href="#") Cancel 
      .section.cl
        %h3.section-header Fragment
        .section-content
          %ul#theme-snippets.nobull.clearfix
        #new_snippet_reveal_link.new-asset-link.note
          %a(href="#") New clips
        #new-snippet.cl.section-new(style="display:none")
          %p
            %strong New clips
            命名为
            %input#new_snippet_basename_without_ext.st(name="asset[basename_without_ext]" type="text")
          %input#new_snippet_btn.sst(type="button" value="New clips")
          或者
          %a(href="#") Cancel 
      .section.cl
        %h3.section-header Attachment
        .section-content
          %ul#theme-assets.nobull.clearfix
        #new_asset_reveal_link.new-asset-link.note
          %a(href="#") Add Attachment
        #new-asset.cl.section-new(style="display:none")
          %p Upload a new theme accessories
          #file-uploader
          -#%iframe#iframe(frameborder="0" src="/admin/themes/id/assets/new")
          %a(href="#") Cancel 
    .section.cl
      %h3.section-header Set up
      %div(class="section-content")
        .section-info
          Modification
          %code settings.html
          The content will be displayed in the theme configuration form.

        %ul#theme-config.nobull.clearfix
  .col-9.last
    #current-asset
      #asset-details
        %ul#status-log.nobull.field-with-errors(style="display:none; margin: 3px 3px 10px 3px;")
          %li#status-message
          %li#status-errorlist(style="font-weight: bold")
        #asset-buttons(style="display:none")

          %input#save-button.btn(type="button" value="Save")
          %input#open-button.btn.sr(type="button" value="Open in a new window")
        %h3#asset-title Do not select the file

        %span#asset-info(style="display: none")
        %ul#asset-links.nobull.clearfix(style="visibility:hidden")
        %p#asset-hint.hint.sst.ssb
          %span#asset-hint-noselect
            %span(style="font-size: 20px; color: #ccc; position: relative; top: 3px; ") &larr;

            Select a file on the left to start modifying it
          %span#asset-hint-liquid.hide
            Please refer to the
            %a(href="#{wiki_url_with_port}/VariableReference" target="wiki" title="Open Wiki in a new window") Variable Description
            Learn how to use the dynamic information in your template.
        %div(style="display:none")
          %span#asset-hint-config
            How to use these files, please refer to our
            %a(href="#{wiki_url_with_port}/Theme%20Settings" target="wiki" title="Open help document in a new window") Theme Configuration help page.
          %span#asset-hint-liquid-settings
            Liquid document valid for this variable can be viewed
            = succeed "." do
              %a(href="#{wiki_url_with_port}/Theme%20Settings%23Using%20the%20settings%20object%20in%20Liquid" target="wiki" title="Open Wiki in a new window") Set Object
            You may use any Liquid
            %a(href="#{wiki_url_with_port}/Liquid%23Tags" target="wiki" title="Open Wiki in a new window") Tag
            And
            = succeed "." do
              %a(href="#{wiki_url_with_port}/FilterReference" target="wiki" title="Open Wiki in a new window") Filter

      #preview-image.preview-image(style="display:none;")
        %a(target="_blank")
          %img#preview-image-asset/
        %p.note.st
      #template-editor
-#
  .box2.sst
    %a(href="#{wiki_url_with_port}/Textmate_Bundle" style="width: 55px;float:left; margin-right: 10px")
      =image_tag 'admin/textmate-logo.gif'
    %h3 Textmate Bundle
    %p

      If your editor is used to modify the
      = succeed "," do
        %a(href="http://macromates.com/") Textmate
      Then you can refer to
      %a(href="#{wiki_url_with_port}/Textmate_Bundle") Our help documentation
      Explains step by step how to install this plug-in.
      After installation, you will be able to see all the theme files and will automatically synchronize the modified.

%script(id="theme-item" type="text/x-handlebars-template")
  %a(class="asset-{{{type}}}" href="#") {{{name}}}
%script(id="new-layout-selectbox-item" type="text/x-handlebars-template")
  {{#each layouts}}
  %option(value="{{{key}}}") {{{name}}}
  {{/each}}
%script(id="rollback-selectbox-item" type="text/x-handlebars-template")
  %li#asset-rollback-form
    %select#rollback-selectbox(name="rollback-selectbox")
      {{#each commits}}
      %option(tree_id='{{{tree}}}') {{{message}}}
      {{/each}}

    Or
    %a(href="#") Cancel 
%script(id="asset-link-rollback-item" type="text/x-handlebars-template")
  %li#asset-link-rollback
    %a(href="#") View previous versions
%script(id="asset-link-rename-item" type="text/x-handlebars-template")
  %li#asset-link-rename
    %a(href="#") Renaming
%script(id="asset-link-destroy-item" type="text/x-handlebars-template")
  %li#asset-link-destroy
    %a(href="#")=image_tag 'admin/icons/trash.gif'
%script(id="asset-rename-form-item" type="text/x-handlebars-template")
  %li#asset-rename-form
    %input#asset-basename-field(type="text")/

    %a.update(href="#") Submit
    Or
    %a.cancel(href="#") Close

:javascript
  var required_files = #{ShopTheme::REQUIRED_FILES};
  var theme_id = #{theme.id};
  var assets_json = #{@assets_json};
  new App.Views.Asset.Index.Index({data: assets_json});
