=render "menu"

.clearfix.ppb(style="padding-bottom:40px;")
  .col-4(style="width:242px; position:relative;")
    #customer-group-container.box2.preview-box
      .preview Customers grouping
      %ul#customer-groups
  .col-8.last(style="width:648px;")
    #order-filters
      %form#customer-search(action="/admin/customers" method="get" onsubmit="return false")
        #customer-filters.box2.clearfix
          .clearfix
            %input#customer-search_field.filter-text(autocomplete="off" data-hint="Enter the query filtering information..." name="q" onsubmit="return false" type="text")
            .filter-info
              #search-filter_summary.summary(style="display:none;")
                %span.filter-message 1 active filter
                %span.remove
                  %a(href="#") x
            #customer-search_msg(style='padding-left: 10px; background-image: none; background-color: transparent;') Found 0 Customer
          #customer-search_filters
      #customer-search_add_filters.toggle-drop.box2(style="display:none;")
        %h3
          %span.hint Add filter Filtered through a total order of customer information and other conditions
        .clearfix
          %form#search-filter(onsubmit="return false")
            %select#search-filter_primary(name="primary-value")
              -primary_filters.each do |filter|
                %option{value:filter.code, clazz:filter.clazz}=filter.name
            %select#search-filter_secondary(name="secondary-value")
            #search-filter_value_div
              %input#search-filter_value.condition.filter_text_value(name="filter-value" style="width:120px" type="text")
            .apply_filter
              %input#search-filter_apply.btn.apply-filter(name="commit" onclick="return false;" type="submit" value="Add Filter")
    .sst(style="height: 32px;")
      %table#customer-table_status(cellpadding="0" cellspacing="0" style="display:none")
        %tr
          %td(style="text-align:left;vertical-align: middle")
            %select#customer-table_actions(name="operation")
              %option(selected="selected" style="color:#888" value="") Select Options...
              %option.indent(value="add_tag") Mark Customers
              %option.indent(value="remove_tag") Tombstone
          %td(style="text-align:right;vertical-align: middle")
            %span#customer-count.note(style="margin-bottom: 5px") &nbsp;
    #customers.ssb
      #customer-search_overlay.hide
        %p Customer information is being updated&hellip;
      %table#customer-table.standard-table.row-space.select-table(cellspacing="0" cellpadding="0")
        %thead
          %tr#customer-search_customer
            %th.nosort(style="width: 16px")
              %input#select-all(type="checkbox" autocomplete="off")
            %th.sortcol(data-value="last_name_sortable") Full name
            %th &nbsp;
            %th.sortcol(data-value="location") Address
            %th.sortcol(data-value="total_spent" style="text-align: right; padding-right: 4px ! important; background-position: 5% center ! important;") The amount of consumption
            %th.sortcol(data-value="customers_count") Orders
            %th.sortcol(data-value="last_customer_date") Recent Orders
        %tbody#customer-table_list.ssb
      #customer-search_empty.c(style="display:none;") No customer information to meet the query criteria.
    #customer-search_pagination
      #pagination
.box2.clearfix
  .fl
    %p
      Customer accounts are
      %strong Enable
      And
      %strong Optional
      \.
      %a(href="/admin/payments#customer-accounts") Modify these configurations
  .fr
    Showing the number of:
    %select#customer-search_limit(style="width:60px")=options_for_select page_sizes, 50
#display_message.display_message(style="display:none;")
#hidden-content(style="display:none;")
  %a#hidden-closure-link.closure-lightbox(href="/admin/customers/tag_form" title="Tag Customers") Add tag
  #add-note
    #customer-note.message
      #customer-note_body
      %form#customer-note_form
        %textarea(name="customer[note]")
        %input#customer-note_customer_id(type="text" name="customer-note_customer_id")
        %p
          %input#customer-note_submit.btn(name="commit" type="submit" value="Save note")
          或者
          %a(href="#" onclick="customernote.toggleForm(); return false;") Cancel

%script(id="show-customer-item" type="text/x-handlebars-template")
  %td(style="padding-top: 5px")
    %input.selector(style="margin: 3px 0" type="checkbox")
  %td.customer-name
    %a.customer-link(href="/admin/customers/{{{id}}}") {{{name}}}
    .display_message.clearfix(id="customer-display-{{{id}}}" style="display:none;")
      .customer-details
        %span.name
          %a(href="/admin/customers/{{{id}}}") {{{name}}}
        %span.marketing To accept marketing messages
        %span.phone-number {{{phone}}}
        %span.info
          %a.skype(href="skype://{{{phone}}}") BySkypeCall
          %a.email(href="mailto:{{{email}}}") {{{email}}}
  %td
    %a.customer-display-link(href="#" onclick="return false;")
      %span.contact-details.customer-display-link(data-popup-id="customer-display-{{{id}}}") i
  %td
    {{#if default_address}}
    {{#with default_address}}
    {{{province_name}}}{{{city_name}}}{{{district_name}}}
    {{/with}}
    {{/if}}
  %td.r {{{total_spent}}}
  %td.c {{{orders_count}}}
  %td
    {{#if order}}
    %span.note
      %a(href="/admin/orders/{{{order.id}}}") {{{order.name}}}
      {{{date order.created_at "MM-dd"}}}
    {{/if}}

%script(id="customer-group-item" type="text/x-handlebars-template")
  {{#if is_group}}
  %a.delete(href="/admin/customer_groups/{{{id}}}" data-confirm="Are you sure you want to delete it?")=image_tag('admin/icons/trash.gif')
  {{/if}}
  %h3 {{{name}}}
  %ul.filters
    {{#if term}}
    %li Keyword:{{{term}}}
    {{/if}}
    {{#each filters}}
    %li
      %span(class="label-text") {{{condition_name}}} {{{value_name}}}
    {{/each}}
  {{#if is_current_search}}
  %a#save_customer_group_link.btn.closure-lightbox(href='#') Save for the customer group
  {{/if}}
  {{#if is_group}}
  %a.update.btn(href="/admin/customer_groups/{{{id}}}" style="display:none") Update
  {{/if}}
%script(id="customer-search_filters-item" type="text/x-handlebars-template")
  %span.label-text {{{condition_name}}} {{{value_name}}}
  %a.close-filter-tag(href="#") x
%script(id="new-customer-group-item" type="text/x-handlebars-template")
  =dialog 'Save the customer grouping' do
    %form#create_customer_group.clearfix(onsubmit='return false')
      %p(style="font-size:12px; margin-bottom:10px; color:#777;") Please enter a new group name
      %input#new_group_name.name(name="customer_group[name]")
      %input#save_group_button.btn(type="submit" value="Save")

:javascript
  App.init = function(){
    new App.Controllers.Customers.Index();
    Backbone.history.start();
  }

  secondary_filters = {
    integer: #{secondary_filters_integer.to_json},
    date: #{secondary_filters_date.to_json},
    boolean: #{boolean.to_json},
    status: #{status.to_json}
  }

  App.customers = new App.Collections.Customers();
  App.customer_groups = new App.Collections.CustomerGroups();
  App.customer_group = new App.Models.CustomerGroup(); //用于分组与查询的中介
  App.customer_groups.refresh(#{customer_groups_json});
  new App.Views.Customer.Index.Index({collection: App.customers})
  new App.Views.CustomerGroup.Index.Index({collection: App.customer_groups})
