- @current_signup = :current

#banner
  .content
    %h1(style="font-family:hevletica arial sans-serif") 
      =t :registration
  / .content
/ #banner
.content.subpage
  .registration
  #signup
    %form#shop_new.shop_new(action="#" method="post" onsubmit="return false")
      #info
        #errorExplanation(style='display: none')
          %h3 
            =t :creating_account_error 
      #top-section.section
        %h3 
          =t :store_name
        %p
          %input#shop_name(name="shop[name]" size="22" style="font-size: 20px; width: 400px" type="text")/
        %label#subdomain-label(for="domain_subdomain") 
          =t :web_address
        #domain-field
          %label#protocol(for="domain_subdomain") http://
          %input#domain_subdomain.large(name="domain[subdomain]" size="22" type="text")/
          %span#spinner(style="display: none")=image_tag 'spinner.gif'
          %span(style="display: none")
            %select#domain_domain(name="domain[domain]")
              %option(value="#{Setting.store_host}")=Setting.store_host
          %span#myshopqi=store_host_with_port
          #preview-availability
            #ajax-notice(style="display:none;")
            %span#domain-available
        %p.hint.clear
          If you have like
          %strong www.example.com
          Such top-level domain，You can wait to bind it in the background management
        #current-theme(style="display:none")
          =image_tag 'themes/themestore.jpg', id: 'theme-image'
          %p
            %a(href="#") Select another topic
      #themes-section.section
        %h3 Choose a theme Appearance
        %p#theme-hint.note
          Uncertainty choose which one? Can choose one or
          = succeed "," do
            %a(href="#") Skip this step
          You can then modify it later point.
        %ul#initial-themes.themes
        %ul#more-themes.themes.clearfix(style="display: none")
          %li#themestore.theme
            =link_to image_tag('themes/themestore.jpg', style: "width: 198px; height: 254px; z-index: 2"), theme_store_url_with_port
        %input#selected-theme(name="shop[themes_attributes][][theme_id]" type="hidden" value="")
        %a#show-more-themes.box.clear(href="#") Show more topics
      .section
        %h3(style="margin-bottom: 24px") About You
        .sidebox
          %h4
            Other Information
            %span.hint Optional
          -#
            %p.note Let us know more，In order to provide you with a better service.
          %label(for="signup_source") Where did you learn ShopQi?
          %select#signup_source(name="shop[signup_source]")
            =options_for_select signup_source_options
        .clear
          %label.inlined(for="user_name") Full name
          %input#user_name.input-text.full(name="user[name]" size="18" type="text")
        .clearfix.inline-form-select.region
          =select_tag "shop[province]", options_for_select(District.list), {prompt: '- Province -', style: 'width: 111px'}
          =select_tag "shop[city]", nil, {prompt: '- City -', style: 'width: 111px'}
          =select_tag "shop[district]", nil, {prompt: '- Area -', style: 'width: 111px'}
          %em#shop_province_message(style="display: none; color: #fff")
        .multi-input.clearfix
          %span
            %label.inlined(for="shop_address") Address
            %input#shop_address.input-text.large(name="shop[address]" size="20" type="text")
          %span
            %label.inlined(for="shop_zip_code") Zip Code
            %input#shop_zip_code.input-text.small(name="shop[zip_code]" size="16" type="text")/
        %span
          %label.inlined(for="shop_phone") Phone
          %input#shop_phone.input-text.large(name="shop[phone]" size="18" type="text")/
        %h4 Your login information
        %label.inlined(for="user_email") Email Address
        %input#user_email.input-text.large(name="user[email]" size="26" type="text")/
        .toggle
          %label.inlined(for="user_password") Password
          %input#user_password.input-text.large(autocomplete="off" name="user[password]" size="26" type="password" value="")/
        .toggle
          %label.inlined(for="user_password_confirmation") Confirm password
          %input#user_password_confirmation.input-text.large(autocomplete="off" name="user[password_confirmation]" size="26" type="password" value="")/
        .multi-input.clearfix
          %span
            %label.inlined(for="user_phone") Mobile
            %input#user_phone.input-text.large(name="user[phone]" size="18" type="text")
          %span#user_phone_hint.hint(style='display:none') Please enter a valid mobile number
        /   -if is_registered?
        /     %span
        /       %input#check_phone(type="button" value="获取验证码")
        / -if is_registered?
        /   %span
        /     %label.inlined(for="phone_verify_code") 手机验证码
        /     %input#phone_verify_code.input-text.large(name="verify_code" size="26" type="text")
      .block.cl
        %h3 Terms of Service
        %dl
          %dd#user-agreement
            %p You need to agree before registration ShopQi Terms of Service.
            %p
              %input#shop_terms_and_conditions(style="display: inline; margin-bottom: 0" type="checkbox" value="1")
              %label#terms-and-conditions-label(for="shop_terms_and_conditions")
                I have read and agree
                %a#agreement_link(href="/agreement" target="_blank") Terms of Service
        %p.btns(style="margin-bottom: 0; clear: left")
          %input(name="shop[plan]" type="hidden" value="#{params[:plan]}")
          %input(name="ref" type="hidden" value="")
          %input#shop_submit(name="commit" type="submit" value="Create my ShopQi store")
/ content

%script(id="theme-item" type="text/x-handlebars-template")
  %img(src="/s/theme/screenshots/{{{id}}}/main/signup_original.jpg" style="width: 198px; height: 254px; z-index: 2;")
  .pick.transparent
    %a.btn.preview(href="/s/theme/screenshots/{{{id}}}/main/original.jpg" rel="theme-group" title="{{{name}}}") Preview Theme
    %a.btn.next(href="#" title="{{{name}}}") Select this topic
%script(id="available-item" type="text/x-handlebars-template")
  {{#if available}}
  %span.negative
    Sorry，{{{domain}}} Already
    %strong Was used
    \.
  {{else}}
  %span.positive
    Congratulations, {{{domain}}}
    %strong You can use
    \.
  {{/if}}

:javascript
  App.themes = new App.Collections.Themes(#{themes_json});
  App.redirect_url = '#{store_host_with_port}/admin' //Sign successful jump
  new App.Views.Signup.Index({collection: App.themes});
