%tr(class="#{cycle 'odd','even'}")
  %td.Apr17{:style => "width: 85px;"}
    -if activity.created_at.today?
      %strong Today
    -else
      %strong=activity.created_at.to_s(:m_and_d)
  %td
    =w("#{activity.operate}.#{activity.class_name}")
    = succeed "." do
      =raw activity.content
    %br/
    %small.note==Operator:#{activity.user_name} 时间:#{activity.created_at.to_s(:h_and_m)}
  %td.r
