:css
  h2 {
    clear: both
  }
  table {
    width: 800px;
  }
  td.title {
    width: 250px;
  }
  td.state {
    width: 100px;
  }
  td.desc {
    width: 400px;
  }
  td.view {
    width: 50px;
  }

:javascript
  check404 = function(target, url){
    $.ajax({
      url: url,
      cache: false,
      success: function(){
        $('<span/>').addClass('status ok').text('Normal').prependTo($(target))
      },
      error: function(){
        $('<span/>').addClass('status error').text('Error').prependTo($(target))
      }
    });
  };

%p This page features all the usual point of unity placed in a production environment and error-prone function，Facilitate inspection
%table
  %tr
    %td.title Classification
    %td.state Status
    %td.desc An error occurred while the corresponding description
    %td.view Operating

%h2 Server
%table
  %tr
    %td.title Can connect to Redis server
    %td#server_redis.state
      -if @server_redis
        %span.status.ok Normal
      -else
        %span.status.error Error
    %td.desc Redis may not start
    %td.view
  %tr
    %td.title Can connect to Sunspot server
    %td#server_sunspot.state
      -if @server_sunspot
        %span.status.ok Normal
      -else
        %span.status.error Error
    %td.desc Sunspot may not start
    %td.view=link_to 'View', "#{Sunspot.config.solr.url}/admin", target: :_blank
  %tr
    %td.title Solr server supports utf-8 encoding(Get)
    %td#server_solr.state
      -if @server_solr_get
        %span.status.ok Normal
      -else
        %span.status.error Error
    %td.desc Solr container does not support utf-8 encoding will lead to inquiries Chinese keyword；Download compressed package solr，使用example/exampledocs/test_utf8.sh test；Solr server as recommended jetty7，tomcat5,6,7 coding problems exist
    %td.view=link_to 'Download', "http://www.apache.org/dyn/closer.cgi/lucene/solr/", target: :_blank
  %tr
    %td.title Solr server supports utf-8 encoding(Post)
    %td#server_solr.state
      -if @server_solr_post
        %span.status.ok Normal
      -else
        %span.status.error Error
    %td.desc Ditto (Get mode)
    %td.view

%h2 Libxml2
%table
  %tr
    %td.title The correct version
    %td.state
      -if @libxml2
        %span.status.ok Normal
      -else
        %span.status.error Error
    %td.desc
      2.6.26Can not resolve a bughtml(http://j.mp/v6CXbf)，Store the background leading to the appearance settings are not configured items，Need to upgrade the version of libxml2
      %br/
      By command view version bundle exec nokogiri -v Or  rpm -q libxml2
    %td.view

%h2 Git
%table
  %tr
    %td.title commit提交
    %td.state
      -if @git
        %span.status.ok Normal
      -else
        %span.status.error Error
    %td.desc
      Failed to submit，Cause Shops background template editor fails to display the file，To run the following command
      %br/
      git config --global user.email "you@example.com"
      %br/
      git config --global user.name "Your Name"
    %td.view


%h2 Theme Store
%table
  %tr
    %td.title Screenshot
    %td#theme_screenshot.state
      -if @theme
        :javascript
          check404('#theme_screenshot', '#{image_path("/s/theme/screenshots/#{@theme.id}/main/medium_original.jpg")}');
      -else
        %span No subject，Please upload themes record
    %td.desc nginx does not parse static files /s/theme/screenshots/1/main/medium_original.jpg
    %td.view=link_to 'View', theme_store_url_with_port, target: :_blank

%h2 Shop
%table
  %tr
    %td.title Whether it can be loaded globally js tool
    %td#shop_global_js.state
      :javascript
        check404('#shop_global_js', '#{@shop_global_js}');
    %td.desc nginx does not parse static files /s/global/jquery/1.5.2/jquery.js
    %td.view
  %tr
    %td.title Whether the global store dedicated load js
    %td#shop_shopqi_js.state
      :javascript
        check404('#shop_shopqi_js', '#{@shop_shopqi_js}');
    %td.desc nginx does not parse static files /s/shopqi/option_selection.js
    %td.view
  -if @shop
    %tr
      %td.title 是否能加载商店主题的css文件
      %td#shop_shop_css.state
        :javascript
          check404('#shop_shop_css', '#{@shop_shop_css}');
      %td.desc nginx没有解析静态文件 /s/files/1/theme/1/assets/stylesheet.css
      %td.view
    %tr
      %td.title 是否能加载商店主题的js文件
      %td#shop_shop_js.state
        :javascript
          check404('#shop_shop_js', '#{@shop_shop_js}');
      %td.desc nginx没有解析静态文件 /s/files/1/theme/1/assets/fancybox.js
      %td.view
    -if @shop_product_photo =~ /media/
      %tr
        %td.title Can display store pictures
        %td#shop_product_photo.state
          :javascript
            check404('#shop_product_photo', '#{@shop_product_photo}');
        %td.desc dragonfly缩小图片过程可能出错，原因可能是ImageMagick版本过低(convert: invalid argument for option `50x50^^': -resize')，可以查看shared/log/unicorn.stderr.log出错日志
        %td.view
    -else
      %tr
        %td.status.warn(colspan=3)
          Store merchandise not upload pictures
          =link_to "Visit", "#{@shop.primary_domain.url}#{request.port_string}", target: :_blank
  -else
    %tr
      %td.status.warn(colspan=4) Do not store，Css can check the store after registration Shops,js accessories are properly loaded
