<h1>Listing demons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @demons.each do |demon| %>
  <tr>
    <td><%= demon.name %></td>
    <td><%= demon.address %></td>
    <td><%= link_to 'Show', demon %></td>
    <td><%= link_to 'Edit', edit_demon_path(demon) %></td>
    <td><%= link_to 'Destroy', demon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Demon', new_demon_path %>
