!!! 5
- conditional_html do
  %head
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    %meta(name="robots" content="nofollow")
    %link(href="#{image_path('favicon.png')}" rel="shortcut icon" type="image/x-icon")/
    %title Soqueen Theme Store | E-commerce Template
    = stylesheet_link_tag "layout_shopqi_theme"
    = javascript_include_tag :shopqi_application
    /[if lt IE 7]
      = javascript_include_tag 'DD_belatedPNG_0.0.8a-min.js'
      :javascript
        DD_belatedPNG.fix('.png_bg');
    /[if lt IE 8]
      = stylesheet_link_tag 'ie7-themes'
    /[if IE]
      = stylesheet_link_tag 'ie-themes'
    -#=render 'shared/google'
  %body
    .resources-nav
      %ul
        %li.logo
          %a{href: url_with_port, style: "filter:none"}=image_tag 'resources-nav/logo-shopqi.png'
        -#
          %li
            %a(href="#" title="Soqueen App Store") Application
        %li=link_to 'Help Documentation', wiki_url_with_port
        %li.current=link_to 'Theme Appearance', theme_store_url_with_port
        %li=link_to 'Home', url_with_port
        -#
          %li
            %a(href="http://support.shopqi.com/" title="Soqueen &mdash; Support") Support
          %li
            %a(href="http://forums.shopqi.com/" title="Soqueen Forum") Forum
          %li
            %a(href="#{wiki_url_with_port}/" title="Home - Help Documentation") Help Documentation
    .vig-left
    .vig-right
    #wrapper
      #header
        #navigation.clearfix
          %a.logo.png_bg(href="/")=image_tag 'logos/logo-themestore.png'
          %ul
            %li
              %a(href="#") Topic Guide
            %li
              %a(href="#") Submit Thread
            =yield :login
        =yield :filter
      #content(class=@content_class)
        =yield
    =render 'shared/baidu'
